@import '../../../assets/scss/mixins';

.gallery {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 400px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @include element(mask) {
    align-items: center;
    background: #0000006e;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: -100%;
    transition: top 0.3s ease;
    width: 100%;
    z-index: 10;
    p,
    h3 {
      color: white;
      padding: 1rem;
    }
  }
}

.gallery__item {
  display: grid;
  // since is mobile first, there's not grid layout
  grid-column: unset;
  grid-row: unset;
  // end
  overflow: hidden;
  position: relative;

  &:hover {
    .gallery__mask {
      top: 0;
    }
  }

  & img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
  }

  @include media-sm() {
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &:nth-child(2) {
      grid-column: span 1;
      grid-row: span 1;
    }

    &:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(7) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &:nth-child(13) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(16) {
      grid-column: span 2;
    }

    &:last-child {
      grid-column: span 3;
    }
  }
}
