.gallery {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 400px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery__mask {
  top: -100%;
  transition: top 0.3s ease;
  @apply absolute bg-black bg-opacity-50 flex-col hidden h-full items-center justify-center w-full z-10;

  @screen sm {
    @apply flex;
  }
}

.gallery__mask-title {
  @apply p-4 text-white;
}

.gallery__item {
  display: grid;
  // since is mobile first, there's not grid layout
  grid-column: unset;
  grid-row: unset;
  // end
  overflow: hidden;
  position: relative;

  &:hover {
    .gallery__mask {
      top: 0;
    }
  }

  & img {
    @apply h-full object-cover w-full;
    transition: transform 0.3s ease;
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) {
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 1;

      & img {
        object-position: 0px -40px;
      }
    }

    &:nth-child(2) {
      grid-column: span 1;
      grid-row: span 1;
    }

    &:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(7) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &:nth-child(13) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(16) {
      grid-column: span 2;
      & img {
        object-position: 0px -103px;
      }
    }

    &:last-child {
      grid-column: span 3;
      & img {
        object-position: 0px -227px;
      }
    }
  }
}
